# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\Schule 4AHIF\SYP\Microprojekt\project-digitalsignage\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/

build-docs-html/
build-docs-pdf/
build-docs-revealjs/
target/
asciidocs/revealjs/
revealjs.zip
gh-pages